.pfp{
    width: 2.5%;
}

.card1{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2.5%;
}

.body{
    background-color: #121212;
}

.content{
    padding: 0 6em 0;
}

nav{
    background-color: #2e2e2e;
}

p{
    color:white

}
h1{
    color:white
}

.whitetext{
    color: white;
}

.movie-poster-sm {
    border-radius: .3em .3em 0 0;
}

.movie-card-sm {
    position: relative;
    width:14%;
    height:53px;
    background: #2E2E2E;
    border-radius: 0 0 .3em .3em;
    word-wrap: break-word;
}

.card-ratings {
    vertical-align: bottom;
}

.movie-title-sm {
    text-align: center;
    font-size: 8pt;
    margin-bottom: 0;
    padding: .25em 1em 0 1em;
}

.uncc-rating-sm {
    font-size: 8pt;
    color: #00703C;
    margin-left: 1.5em;
    line-height: 1.2em;
}

.imdb-rating-sm {
    text-align: right;
    font-size: 8pt;
    color: #B3A369;
    margin-right: .2em;
    line-height: 1.2em;
}

/*Bad fix for issue with icons, works but wish there was a cleaner way I knew*/
.star-uncc-sm {
    position: absolute;
}

.star-imdb-sm {
    position: absolute;
    margin-left: 1.1em;
}