/* Default Values */
nav {
    background-color: #2e2e2e;
}

.nav-pfp {
    margin-top: 15%;
}

.body {
    background-color: #121212;
}

.content {
    padding: 0 6em 0;
}

p {
    color:white
}

.whitetext {
    color: white;
}

.footer {
    background-color: #2e2e2e;
}

footer table {
    width: 100%;
}

.footer-link {
    font-size: 10pt;
    color: #989898;
}

.footer-link:hover {
    color: #989898;
}

#git {
    margin-left: 1em;
    margin-right: 1em;
}

#authors p, #authors-intro {
    font-style: italic;
    font-weight: lighter;
    text-align: right;
    margin: 0 1em 0 0;
}

#austin {
    padding-top: .5em;
}

#dylan {
    padding-bottom: .5em;
}

#authors {
    right: auto;
    width: 10%;
}

#authors-intro-cell {
    right: auto;
    width: 22%;
}

.author-footer {
    margin: auto 0 auto auto;
    font-size: 10pt;
}

label {
    color: white;
}

/* Home Page & Movie Card */
.movie-table {
    margin-left: auto;
    margin-right: auto;
}

.movie-row-title {
    color: white;
    font-size: 20pt;
    margin-bottom: 20px;
}

.movie-row-link:hover {
    text-decoration-color: white;
}

.movie-sm-link:hover {
    text-decoration: none;
}

.movie-poster-sm {
    border-radius: .3em .3em 0 0;
    width: 9em;
    height: 13.5em;
}

.movie-card-sm {
    position: relative;
    width:9em;
    height:60px;
    background: #2E2E2E;
    border-radius: 0 0 .3em .3em;
}

.movie-card-content-sm {
    position: absolute;
    bottom: 0;
    left: 16.25%;
    margin-bottom: 4px;
}

.movie-title-sm {
    text-align: center;
    font-size: 8pt;
    margin-bottom: 0;
    padding: .5em 1em 0 1em;
    height: 40px;
    overflow: hidden;
}

.star-uncc-sm {
    position: absolute;
}

.star-imdb-sm {
    position: absolute;
    margin-left: 1.65em;
}

.uncc-rating-sm {
    font-size: 8pt;
    line-height: 13px;
    color: #00703C;
    margin: 0 0 0 1.5em;
}

.imdb-rating-sm {
    font-size: 8pt;
    line-height: 13px;
    color: #B3A369;
    margin: 0 0 0 4em;
}

.movie-sm {
    margin: 0 25px 100px 25px;
    transition: .75s ease;
}

.last-row {
    margin: 0 25px 50px 25px;
}

.movie-sm:hover {
    transform: scale(1.1)
}

.movie-table {
    margin-left: auto;
    margin-right: auto;
}

/* */
.pfp{
    width: 2.5%;
    margin-right: 1%;
}

.card1{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2.5%;
}

/* Report a Problem */
#submit-report {
    margin-bottom: 200px;
}

/* Account page */
.pfp-large {
    border: 2px solid white;
    border-radius: 2%;
}

.username-large {
    color: white;
    font-size: 56pt;
}

.account-description {
    width: 90%;
    font-size: 14pt;
}

/* All Movies */
.pagination > li > a
{
    background-color: #2E2E2E;
    color: white;
    transition: .25s ease;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #B3A369;
    background-color: #121212;
    border-color: #ddd;
}

.btn-group > .btn:focus {
    box-shadow: none;
}

.dropdown-menu > a:hover {
    background-color: #6c6c6c;
}