{% extends '_layout.html' %}

{% block title %}Error: 401{% endblock %}

{% block body %}
<div class="text-center">
    <img class="login-logo" src="/static/logos/cinemaholics-logo-white.png" alt="Cinemaholics-logo.png">
</div>
<div class="alert alert-warning">
    <strong>Login to continue</strong>
</div>
<form class="form-signin" action="/login" method="post">
    <h3 class="mb-3 font-weight-normal whitetext">Please Sign In</h1>
    <label for="email">Email address (uncc.edu)</label>
    <input type="email" name="email" id="email" class="form-control mb-5" placeholder="norm@uncc.edu" required autofocus>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" class="form-control mb-5" placeholder="Password" required>
    <button class="btn btn-lg btn-signin mb-3 px-4" type="submit">Sign in</button>
</form>
<div>
    <a href="/register" class="mb-3">Make An Account?</a>
</div>
{% endblock %}