{% extends '_layout.html' %}

{% block title %}{{user.username}} | Account Page{% endblock %}

{% block body %}
<h1 class="whitetext mb-3">{{user.username}}'s posts</h1>
{% for post in posts %}

<div class="card text-white post-card mb-3" style="max-width: 100%;">
  <div class="card-header">
      <h5><a href="/posts/{{post.post_id}}" class = "link-white">{{post.title}}</a></h5>
  </div>
        <div class="card-body">
          <p class="card-text"><img src="../static/pfp/{{user.pfp}}" class="img-fluid pfp-allposts rounded" alt="">Posted by {{user.username}} {{post.readable_time()}}</p>
        </div>
</div>
{% endfor %}

{% if posts|length <= 1 %}
<script>
  document.addEventListener('DOMContentLoaded', () => {
  document.querySelector('.footer').style.position = 'fixed'
  document.querySelector('.footer').style.bottom = '0'
  document.querySelector('.footer').style.width = '100%'
  });
</script>
{% endif %}
{% endblock %}