{% extends '_layout.html' %}

{% block title %}username{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="../static/pfp/default_user.png" alt="Account Pfp" width="90%" class="pfp-large mb-5">
                <h2 class="whitetext mb-3">About Me</h2>
                <p class="account-description">
                    This is some stuff about me.
                    blah blah blah blah blah blah blah blah. 
                    blah blah blah blah blah blah blah blah blah blah blah blah. 
                    blah blah blah blah
                </p>
            </div>
            <div class="col">
                <h1 class="username-large mb-3">Username</h1>
                <table>
                    <tr col><td colspan="2"><h2 class="movie-row-title">Watchlist</h2></td></tr>
                    <tr>
                        {% for i in range(3) %}
                        <td>
                            <!-- Movie Card Template -->
                            <a href="#" class="movie-sm-link">
                                <div class="movie-sm">
                                    <!-- Need method to fix img resolution. Everything after "V1_SY", remove, add wanted height of image, probably like 600, and "".jpg"-->
                                    <img class="movie-poster-sm" src="https://m.media-amazon.com/images/M/MV5BZDcxOGI0MDYtNTc5NS00NDUzLWFkOTItNDIxZjI0OTllNTljXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_SY600.jpg" alt="placeholder.jpg" width="150px">
                                    <div class="movie-card-sm">
                                        <p class="movie-title-sm">The Lord of the Rings</p>
                                        <table class="movie-card-content-sm">
                                            <tr class="card-ratings-sm">
                                                <td>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="#00703C" class="bi bi-star star-uncc-sm" viewBox="0 0 16 16">
                                                        <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                                    </svg>
                                                    <p class="uncc-rating-sm">10.0</p>
                                                </td>
                                                <td>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="#B3A369" class="bi bi-star-fill star-imdb-sm" viewBox="0 0 16 16">
                                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                    </svg>
                                                    <p class="imdb-rating-sm">10.0</p>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </a>
                        </td>
                        {% endfor %}
                    </tr>
                    <tr col><td colspan="2"><h2 class="movie-row-title">Your Rated Films</h2></td></tr>
                    <tr>
                        {% for i in range(3) %}
                        <td>
                            <!-- Movie Card Template -->
                            <a href="#" class="movie-sm-link">
                                <div class="movie-sm">
                                    <!-- Need method to fix img resolution. Everything after "V1_SY", remove, add wanted height of image, probably like 600, and "".jpg"-->
                                    <img class="movie-poster-sm" src="https://m.media-amazon.com/images/M/MV5BZDcxOGI0MDYtNTc5NS00NDUzLWFkOTItNDIxZjI0OTllNTljXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_SY600.jpg" alt="placeholder.jpg" width="150px">
                                    <div class="movie-card-sm">
                                        <p class="movie-title-sm">The Lord of the Rings</p>
                                        <table class="movie-card-content-sm">
                                            <tr class="card-ratings-sm">
                                                <td>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="#00703C" class="bi bi-star star-uncc-sm" viewBox="0 0 16 16">
                                                        <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                                    </svg>
                                                    <p class="uncc-rating-sm">10.0</p>
                                                </td>
                                                <td>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="#B3A369" class="bi bi-star-fill star-imdb-sm" viewBox="0 0 16 16">
                                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                    </svg>
                                                    <p class="imdb-rating-sm">10.0</p>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </a>
                        </td>
                        {% endfor %}
                    </tr>
                </table>
                
            </div>
        </div>
    </div>
{% endblock %}