{% extends '_layout.html' %}

{% block title %}
CineForms
{% endblock %}

{% block body %}

<h4 class="whitetext">Recent posts</h4>
<a class="btn btn-primary" href="/posts/new" role="button">Create New Post</a>

{% for post in posts %}
<div class="card text-white bg-dark mb-3" style="max-width: 100%;">
  <div class="card-header">
      <h5><a href="/posts/{{post.post_id}}" style = "text-decoration: none;">{{post.title}}</a></h5>
  </div>
  {% for user in users %}
      {% if user.user_id == post.user_id %}
        <div class="card-body">
          <p class="card-text"><img src="../static/pfp/{{user.pfp}}" class="img-fluid pfp rounded" alt="">Posted by {{user.username}} on {{post.post_time}}</p>
        </div>
      {% endif %}
  {% endfor %}
</div>
  {% endfor %}

{% endblock %}
