{% extends '_layout.html' %}

{% block title %}
CineForms
{% endblock %}

{% block body %}
  {% if searched != None and searched != "" %}
    <h4 class="whitetext">Search for "{{searched}}" </h4>
  {% elif sort == "oldest"%}
    <h4 class="whitetext">Old posts</h4>
  {% elif sort == "liked" %}
    <h4 class="whitetext">Top posts</h4>
  {% else %}
    <h4 class="whitetext">Recent posts</h4>
  {% endif %}

<div class="row">
  <div class="col-sm-4">
    <a class="btn btn-light" href="/posts/new" role="button">Create New Post</a>
  </div>

  <div class="col-sm-8"> 
    <div class = "float-right">
      <form action="/posts/" method="GET" class="form-inline">
        <div class="form-group">
            {% if searched != None %}
            <input class="form-control mr-sm-2 " name='search' type="text" id="search" value="{{searched}}" placeholder="Search Posts" aria-label="Search">
            {% else %}
            <input class="form-control mr-sm-2 " name='search' type="text" id="search" placeholder="Search Posts" aria-label="Search">
            {% endif %}
            
            <select name = "sort" id="sort" class="form-control form-select">
              <option selected>Sort</option>
              <option value = "latest">Latest</option>
              <option value = "oldest">Oldest</option>
              <option value = "liked">Liked</option>
            </select>
  
            <button type="submit" class="btn-outline btn">Search</button>
          </div>
      </form>
    </div>
  </div>
</div>

{%if posts|length == 0 and (searched != None or searched == "")%}
  <p class="whitetext" style = "text-align:center;">No posts found containing "{{searched}}" in their title, please modify search parameters</p>
{%elif posts|length == 0 and (searched == None or searched != "")%}
  <p class="whitetext" style = "text-align:center;">No post have been made yet</p>
{% endif %}

{% for post in posts %}
<div class="card text-white post-card mb-3" style="max-width: 100%;">
  <div class="card-header">
      <h5><a href="/posts/{{post.post_id}}" class="link-light link-white">{{post.title}}</a></h5>
  </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-7">
              <p class="card-text"><img src="../static/pfp/{{post.getUser().pfp}}" class="img-fluid pfp-allposts rounded" alt="">Posted by {{post.getUser().username}} {{post.readable_time()}}</p>
            </div>
            <div class="col-sm-1">
              <p class = "card-text">{{post.likes.count()}} likes</p>
              <p class = "card-text">{{post.getReplyCount()}} replies</p>
            </div>
            <div class="col-sm-1"></div>
              <div class="col-sm-3">
                
                {%if post.getLastReply() != None %}
                <p class="card-text">Last reply</p>
                <p class="card-text"> <img src="../static/pfp/{{post.getLastReply().getUser().pfp}}" class="img pfp-allposts-reply rounded" alt=""> {{post.getLastReply().getUser().username}} {{post.getLastReply().readable_time()}}</p>
                {% else %}
                <p class="card-text">Last reply</p>
                <p class="card-text"> <img src="../static/pfp/{{post.getUser().pfp}}" class="img pfp-allposts-reply rounded" alt=""> {{post.getUser().username}} {{post.readable_time()}}</p>
                {% endif %}
              </div>
          </div>
        </div>
</div>
  {% endfor %}

{% endblock %}
