{% extends '_layout.html' %}

{% block title %}
Movies
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <!--row 1 of 3-->
        <div class="col">

        </div>
        <div class="col">
            
        </div>
        <div class="col">
            
        </div>
        <div class="col">
            
        </div>
        <div class="col">
            
        </div>
        <div class="col">
            
        </div>
    </div>
    <div class="row">
        <!--row 2 of 3-->
        <div class="col">

        </div>
        <div class="col">
            
        </div>
        <div class="col">
            
        </div>
        <div class="col">
            
        </div>
        <div class="col">
            
        </div>
        <div class="col">
            
        </div>
    </div>
    <div class="row">
        <!--row 3 of 3-->
        <div class="col">

        </div>
        <div class="col">
            
        </div>
        <div class="col">
            
        </div>
        <div class="col">
            
        </div>
        <div class="col">
            
        </div>
        <div class="col">
            
        </div>
    </div>
    &nbsp;
    <div class="row container">
        <div class="col">
            
        </div>
    </div>
</div>
{% endblock %}
