{% extends '_layout.html' %}

{% block title %}Edit Account Page{% endblock %}

{% block body %}
<form>
    <table>
        <td>

            <tr>
                <div class="form-group mt-2">
                    <p>Please Select A Profile Photo</p>
                    <label for="profilePhoto">Profile Pic</label>
                    <select class="form-select" name="profilePhoto" id="profilePhoto" required>
                        <option value="">Select</option>
                        <option value="1"><img src=..static/pfp1.png></option>
                        <option value="2"><img src=..static/pfp2.png></option>
                        <option value="3"><img src=..static/pfp3.png></option>
                        <option value="4"><img src=..static/pfp4.png></option>
                        <option value="5"><img src=..static/pfp5.png></option>
                    </select>
                </div>
            </tr>
            <tr>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Username</label>
                    <input type="name" name="name" class="form-control" id="exampleFormControlInput1" placeholder="ILoveJava95">
                </div>
                &nbsp;
            </tr>
            <tr>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">About Me</label>
                    <textarea name="about" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                &nbsp;
            </tr>
            </td>
            <td>
            <div class="col col-lg-2">
                <button type="button" class="btn btn-primary mb-5">Submit</button>
            </div>
            </td>
        </table>
</form>

{% endblock %}