{% extends '_layout.html' %}

{% block title %}Edit Account Page{% endblock %}

{% block body %}
<form>
    <table>
        <td>
            <tr>
                <p>Please Select A Profile Photo</p>
                    <img src="../static/pfp/pfp1.png" alt="pfp1" height="64" width="64">
                    &nbsp;
                    <img src="../static/pfp/pfp2.png" alt="pfp2" height="64" width="64">
                    &nbsp;
                    <img src="../static/pfp/pfp3.png" alt="pfp3" height="64" width="64">
                    &nbsp;
                    <img src="../static/pfp/pfp4.png" alt="pfp4" height="64" width="64">
                    &nbsp;
                    <img src="../static/pfp/pfp5.png" alt="pfp5" height="64" width="64">
            </tr>
            <tr>
                <div class="form-group mt-2">
                    <label for="profilePhoto"></label>
                    <select class="form-select" name="profilePhoto" id="profilePhoto" required>
                        <option value="">Select</option>
                        <option value="1"><img src=../static/pfp/pfp1.png>1</option>
                        <option value="2"><img src=../static/pfp/pfp2.png>2</option>
                        <option value="3"><img src=../static/pfp/pfp3.png>3</option>
                        <option value="4"><img src=../static/pfp/pfp4.png>4</option>
                        <option value="5"><img src=../static/pfp/pfp5.png>5</option>
                    </select>
                </div>
            </tr>
            <tr>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Username</label>
                    <input type="name" name="name" class="form-control" id="exampleFormControlInput1" placeholder="ILoveJava95">
                </div>
                &nbsp;
            </tr>
            <tr>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">About Me</label>
                    <textarea name="about" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                &nbsp;
            </tr>
            </td>
            <td>
            <div class="col col-lg-2">
                <button type="button" class="btn btn-primary mb-5">Submit</button>
            </div>
            </td>
        </table>
</form>

{% endblock %}