{% extends '_layout.html' %}

{% block title %}
{{ single_movie.title }}
{% endblock %}

{% block body %}
<table id="single-movie-table">
    <tr>
        <td class="center"><img id="movie-poster" src="{{ single_movie['cover url'] }}" alt="{{ single_movie[title] }}.jpg"></td>
        <td class="pl-5 center">
            <h1 class="mb-3" id="movie-title">{{ single_movie['title'] }}</h1>
            <h2 class="mb-5" id="movie-director">Directed by:
            {% for i in range(single_movie['directors']|length) %}
                {% if i+1 == single_movie['directors']|length %}
                {{ single_movie['directors'][i]['name'] }}
                {% else %}
                {{ single_movie['directors'][i]['name'] }},
                {% endif %}
            {% endfor %}
            </h2>
            <p id="movie-description">{{ review }}</p>
        </td>
    </tr>
    <tr class="movie-info-lg">
        <td class="pt-1">
            <table>
                <tr>
                    <td rowspan="2" class="pt-2">
                        {% if 'user' in session %}
                        <form action="/movies/{{ single_movie.movieID }}" method="POST" class="mr-3">
                        {% else %}
                        <form action="/login" method="GET" class="mr-3">
                        {% endif %}
                            <button id="rating-btn">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="#00703C" class="bi bi-star star-uncc-lg" viewBox="0 0 16 16">
                                    <path id="star-path" d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                </svg>
                            </button>
                            <label for="rating" id="rating-label">Rating: </label>
                            <input type="number" name="rating" id="rating" step=".1" min="0" max="10">
                        </form>
                    </td>
                    <td>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="#00703C" class="bi bi-star star-md" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                    </td>
                    <td>
                        <p id="uncc-review-lg">UNCC TEST</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="#B3A369" class="bi bi-star-fill star-md" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                    </td>
                    <td>
                        <p id="imdb-review-lg">{{ single_movie['rating'] }}, {{ single_movie['votes'] }} votes</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<script>
    document.querySelector('#star-path').addEventListener("mouseover", (evt) => {
        evt.currentTarget.setAttribute('d', 'M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z');
        evt.currentTarget.style.cursor = "pointer";
    });
    document.querySelector('#star-path').addEventListener("mouseout", (evt) => {
        evt.currentTarget.setAttribute('d', 'M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z');
    });

    document.querySelector('#rating').addEventListener("change", (evt) => {
        evt.currentTarget.value = parseFloat(evt.currentTarget.value).toFixed(1);
    });
</script>

{% endblock %}
