{% extends '_layout.html' %}



{% block head %}

<title>{{post.title}}</title>

{% endblock %}


{% block body %}
<!-- main post -->
<div class="card text-white post-card mb-3"  style = "margin-top: 1%;" id="post-{{post.post_id}}"> 
    <div class="card-header whitetext"> 
      <div class="row">
        <div class="col-sm-10"><span class = "post_title">{{post.title}}</span> posted {{post.readable_time()}}</div>
        <div class="col-sm-2 right-text">
            {% if 'user' in session %}
              {% if session['user'].get('user_id') == user.user_id %}
              <a href="/posts/{{post.post_id}}/edit" class="link-white">Edit</a>
              {% elif session_user.isAdmin() %}
              <a href="/posts/{{post.post_id}}/edit" class="link-white">Edit</a>
              {% endif %}
            {% endif %}
        </div>
      </div> 
      
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-2 userinfo">
          {% if user.isAdmin() %}
          <h6 class = "admin-text">Forum Moderator</h6>
          {% endif %}
          <img src="../static/pfp/{{user.pfp}}" class="img-fluid pfp rounded" alt="">
          <br>
          <h5>{{user.username}}</h5>
          Reputation: {{user.get_reputation()}}
          <br>
          Posts: {{user.get_posts_and_reply_count()}}
        </div>
        <div class="col-sm-10">
          <p class="card-text whitetext">{{post.body}}</p>

          {% if post.get_edit() != None %}
          {% if post.get_edit().reason != '' %}
          <footer class="blockquote-footer">Last edited by {{post.get_edit().getUser().username}} {{post.get_edit().readable_time()}} for {{post.get_edit().reason}}</footer>
          {% else %}
          <footer class="blockquote-footer">Last edited by {{post.get_edit().getUser().username}} {{post.get_edit().readable_time()}}</footer>
          {% endif %}
          {% endif %}
        </div>
      </div> 
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-sm-2">
          {{ post.likes.count() }} likes
        </div>
        <div class="col-sm-8">
          
        </div>
        <div class="col-sm-1 right-text">
        </div>
        <div class="col-sm-1 right-text">
          {% if session_user != None %}
            {% if session_user.user_id == post.user_id%}
              <a class="btn btn-outline-secondary btn-sm like-button" href="#" role="button" aria-disabled="true">
                <img src="../static/like-icon.png" class="img-fluid like-image" alt="Unlike">
              </a>
            {% elif session_user.has_liked_post(post) %}
              <a class="btn btn-outline-secondary btn-sm like-button" href="{{ url_for('posts_router.like_action', post_id=post.post_id, action='unlike') }}" role="button">
                <img src="../static/like-icon.png" class="img-fluid like-image" alt="Unlike">
              </a>
            {% else %}
              <a class="btn btn-outline-secondary btn-sm active like-button" href="{{ url_for('posts_router.like_action', post_id=post.post_id, action='like') }}" role="button">
                <img src="../static/like-icon.png" class="img-fluid like-image" alt="Like">
              </a>
            {% endif %}
          {% endif %}
          
        </div>
      </div> 
    </div>
  </div>

{% for reply in replies %}
  <!-- comment -->
  <div class="card text-white post-card mb-3"  style = "margin-top: 1%;" id="reply-{{reply.reply_id}}"> 
    <div class="card-header whitetext"> 
      <div class="row">
        <div class="col-sm-10"><span class = "post_title">RE: {{post.title}}</span> posted {{reply.readable_time()}}</div>
        <div class="col-sm-2 right-text">
            {% if 'user' in session %}
              {% if session['user'].get('user_id') == reply.getUser().user_id %}
              <a href="/posts/{{post.post_id}}/reply/{{reply.reply_id}}/edit" class="link-white">Edit</a>
              {% elif session_user.isAdmin() %}
              <a href="/posts/{{post.post_id}}/reply/{{reply.reply_id}}/edit" class="link-white">Edit</a>
              {% endif %}
            {% endif %}
        </div>
      </div> 
      
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-2 userinfo">
          {% if reply.getUser().isAdmin() %}
          <h6 class = "admin-text">Forum Moderator</h6>
          {% endif %}
          <img src="../static/pfp/{{reply.getUser().pfp}}" class="img-fluid pfp rounded" alt="">
          <br>
          <h5>{{reply.getUser().username}}</h5>
          Reputation: {{reply.getUser().get_reputation()}}
          <br>
          Posts: {{reply.getUser().get_posts_and_reply_count()}}
        </div>
        <div class="col-sm-8">
          {% if reply.get_quoted_post() != None %}
            <div class="card text-white bg-dark mb-3"  style = "margin-top: 1%;"> 
              <div class="card-header whitetext"> 
                <a href="/posts/{{post.post_id}}#reply-{{reply.get_quoted_post().reply_id}}" class="link-white">Quoting post by {{reply.get_quoted_post().getUser().username}} made {{reply.get_quoted_post().readable_time()}} </a>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-8">
                    <p class="card-text whitetext">{{reply.get_quoted_post().body}}</p>
                  </div>
                </div> 
                <div class="row">
                  <div class="col-sm-2 userinfo"></div>
                  <div class="col-sm-10"></div>
                </div>   
              </div>
            </div>
          {% endif %}
          <p class="card-text whitetext">{{reply.body}}</p>
            {% if reply.get_edit() != None %}
              {% if reply.get_edit().reason != '' %}
              <footer class="blockquote-footer">Last edited by {{reply.get_edit().getUser().username}} {{reply.get_edit().readable_time()}} for {{reply.get_edit().reason}}</footer>
              {% else %}
              <footer class="blockquote-footer">Last edited by {{reply.get_edit().getUser().username}} {{reply.get_edit().readable_time()}}</footer>
            {% endif %}
            {% endif %}
        </div>
      </div> 
      <div class="row">
        <div class="col-sm-2 userinfo"></div>
        <div class="col-sm-10"></div>
      </div>   
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-sm-2">
          {{ reply.likes.count() }} likes
        </div>
        <div class="col-sm-8">
          
        </div>
        <div class="col-sm-1 right-text">
          {% if 'user' in session %}
            <a href="/posts/{{post.post_id}}/reply/{{reply.reply_id}}/quote" class="link-white">Quote</a>
          {% endif %}
        </div>
        <div class="col-sm-1 right-text">
          
          {% if session_user != None %}
            {% if session_user.user_id == reply.user_id%}
              <a class="btn btn-outline-secondary btn-sm like-button" href="#" role="button" aria-disabled="true">
                <img src="../static/like-icon.png" class="img-fluid like-image" alt="Unlike">
              </a>
            {% elif session_user.has_liked_reply(reply) %}
              <a class="btn btn-outline-secondary btn-sm like-button" href="{{ url_for('posts_router.like_action_reply', post_id=post.post_id,reply_id=reply.reply_id, action='unlike') }}" role="button">
                <img src="../static/like-icon.png" class="img-fluid like-image" alt="Unlike">
              </a>
            {% else %}
              <a class="btn btn-outline-secondary btn-sm active like-button" href="{{ url_for('posts_router.like_action_reply', post_id=post.post_id,reply_id=reply.reply_id, action='like') }}" role="button">
                <img src="../static/like-icon.png" class="img-fluid like-image" alt="Like">
              </a>
            {% endif %}
          {% endif %}
          
        </div>
      </div> 
    </div>
  </div>
{% endfor %}

<!-- reply form -->
<div class="card text-white post-card mb-3" id = "reply-form">
  <div class="card-header">Reply</div>
  <div class="card-body">
      <form action="/posts/{{post.post_id}}" method="post">
        <div class="form-group">
          <textarea class="form-control" id="body" name = "body" rows="3"></textarea>
        </div>
        
        <button type="submit" class="btn btn-primary mt-3">Reply</button>
      </form>
  </div>
</div>

{% endblock %}
