{% extends '_layout.html' %}

{% block title %}Report a Problem{% endblock %}

{% block body %}
<form class='reportissue' action="/report" method="post">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="exampleFormControlInput1">Email</label>
                    <input type="email" name="email" class="form-control" id="exampleFormControlInput1" placeholder="Email" required>
                </div>
                &nbsp;
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Title of Issue</label>
                    <input type="text" name="issuetitle" class="form-control" id="exampleFormControlInput1" placeholder="Title of Issue" required>
                </div>
                &nbsp;
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Report the issue</label>
                    <textarea name="issuetext" class="form-control" id="exampleFormControlTextarea1" rows="3" required></textarea>
                </div>
                &nbsp;
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
        </div>
            <div class="row">
                <div class="col"> 
                </div>
                <div class="col-md-auto">
                </div>
            <div class="col col-lg-2">
                
                <button type="submit" class="btn btn-primary" id="submit-report">Submit</button>
                
            </div>
        </div>
    </div>
</form>

{% endblock %}